.dark{
    .navbar-light li a{
        color: #000 !important;
    }
}

.menuSize{
    background-color: #F2F2F2;
    h3{
        color: #0000009A;
    }    
    .nav-link{
        :hover{
            color: #0E8A00;
        };
    }
}

del{
    color: #00000062 !important;
}

.productImg1{
    background-image: url('../images/img-1.jpg');
    width: 100%;
    height: 350px;
    
}

.productImg2{
    background-image: url('../images/img-6.jpg');
    width: 100%;
    height: 240px;
}

.productImg3{
    background-image: url('../images/img-8.jpg');
    width: 100%;
    height: 480px;
}

.productImg4{
    background-image: url('../images/photo10.jpg');
    width: 100%;
    height: 480px;
}

.productImg5{
    background-image: url('../images/img-3.jpg');
    width: 100%;
    height: 350px;
}

.productImg6{
    background-image: url('../images/img-9.jpg');
    width: 100%;
    height: 240px;
}

.productImg7{
    background-image: url('../images/img-4.jpg');
    width: 100%;
    height: 240px;
}

.productImg8{
    background-image: url('../images/img-7.jpg');
    width: 100%;
    height: 480px;
}

.productImg9{
    background-image: url('../images/img-2.jpg');
    width: 100%;
    height: 350px;
}
